@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<PinoyGigMarket.Models.AppUser>

@{
    ViewData["Title"] = "Talent Pool";
}


<div class="content">
    <div class="row">
        @foreach (var talentpool in Model)
        {
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card card-testimonial h-100">
                    <div class="card-body  d-flex flex-column">
                        <div class="icon icon-primary">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <p class="card-description flex-grow-1">
                            @talentpool.StatusMessage
                        </p>
                    </div>
                    <div class="skills">
                        @foreach (var skill in talentpool.Skills)
                        {
                            <button class="btn btn-primary btn-round mb-1">@skill.SkillName</button>
                        }
                    </div>
                    <div class="card-footer  mt-auto text-center">
                        <h4 class="card-title">
                            @($"{talentpool.FirstName} {talentpool.LastName}")
                            </h4>
                        @* <h6 class="card-category">ginaandrew</h6> *@
                        <div class="card-avatar">
                            <a href="javascript:;">
                                <img class="img" src="@Url.Content(talentpool.ProfilePicturePath ?? "~/images/faces/defaultprofilepic.png")">
                            </a>
                        </div>
                        <div class="mt-3">
                            <a href="@Url.Action("Send", "Messages", new { receiverId = talentpool.Id, ReceiverName = talentpool.FirstName })" class="btn btn-secondary btn-round">
                                <i class="fa fa-comments"></i> Chat
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>