@*

    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model IEnumerable<PinoyGigMarket.Models.ProjectViewModel>
@{
    ViewData["Title"] = "My Projects";
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">My Projects</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th class="text-center">
                                Id
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Description
                            </th>
                            <th class="text-center">
                                Status
                            </th>
                            <th class="text-right">
                                Budget
                            </th>
                            <th class="text-right">
                                Actions
                            </th>
                            </thead>
                            <tbody>
                                @foreach (var project in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            @project.ProjectId
                                        </td>
                                        <td>
                                            @project.Title
                                        </td>
                                        <td>
                                            @project.Desc
                                        </td>
                                        <td class="text-center">
                                            @project.Status
                                        </td>
                                        <td class="text-right">
                                            @project.Budget.ToString()
                                        </td>
                                        <td class="text-right">
                                            <button type="button" rel="tooltip" class="btn btn-info btn-icon btn-sm ">
                                                <i class="fa fa-user"></i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm ">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>                            
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>